.container {
  margin-top: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.orderContainer {
  width: 90%;
  border: 1px solid #321e1e;
  margin-bottom: 2rem;
}

.heading {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 2rem;
}

.date{
  padding: 1rem;
}