.container {
  width: 20vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3vh;
  border: 2px solid #321e1e;
  min-width: 350px;
  cursor: pointer;
}
.image {
  position: relative;
  height: 70%;
  aspect-ratio: 467/700;
  outline: 2px dashed #321e1e;
  outline-offset: 3px;
}
.data {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.author {
  font-size: 0.8rem;
  font-weight: 400;
}
.price {
  font-weight: 700;
  /* padding: 7px;
  background-color: #321e1e;
  color: #f4f1e0;
  border-radius: 2px; */
}

.container:hover{
  box-shadow: 1px 1px 10px #321e1e;
}